* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .app {
    width: 100%;
    height: auto;
  }
  
  .aud-control {
    display: block;
    text-align: center;
    margin-top: 1vw;
  }
  
  #karaoke {
    display: block;
    text-align: center;
    margin-top: 50px;
  }
  
  #karaoke .kara-text,
  #karaoke .kara-text-highlight {
    display: inline-block;
    font-size: 50px;
    white-space: nowrap;
  }
  
  #karaoke .kara-text {
    position: relative;
  }
  
  #karaoke .kara-text-highlight {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(23, 46, 255);
    text-shadow: 0px 0px 20px rgb(57, 255, 140);
    overflow: hidden;
  }
  